.button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    background-color: rgba(167, 139, 250, 1);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    width: 100%;
    margin: 20px 0 ;
    
  }
  
  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1);
    border-color: #fff9;
  }
  
  .button:hover .icon {
    transform: translate(4px);
  }
  
  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  




  .input {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: rgba(167, 139, 250, 1);
    justify-content: center;
    border-radius: 10px;
    transition: 1s;
    padding-top: 10px;
    overflow: hidden;
    width: 26%;
  }
  
  .value {
    font-size: 15px;
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: 1s;
    box-sizing: border-box;
  }
  
  .value:not(:active):hover,
  .value:focus {
    display: flex;
    box-sizing: border-box;
    border: 2px solid #1a1f24;
    color: #637185;
  }


  .value svg {
    width: 20px;
  }
  
  .input:hover > :not(.value:hover) {
    transition: 300ms;
    filter: blur(1.5px);
    transform: scale(0.95, 0.95);
  }
  

  p {
    text-align: center;
    font-family: "East Sea Dokdo", sans-serif;
    font-size: 30px;
    font-style: normal;
    color: #fff;
  }

  h1 {
    text-align: center;
  }

  .button-container {
    position: fixed;
    width: 95%; 
    bottom: 0;
    margin: 0 0 10% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20%;
    margin-bottom: 90px;
}

.bac{
  background-color: #0d1117;
}

.logo{
  font-family: "Black Han Sans", sans-serif;
  font-size: 40px;
  font-style: normal;
  display: flex;
  align-items: center;
}
 
.head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(17, 24, 39, 1);
  color: #fff;
}

body{
  background-color: rgba(17, 24, 39, 1);
}

.p_container{
  margin-top: 70px;
}